
.chat-window {
    width: 100%;
	max-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


.chat-window .chat-title {
    align-self: flex-start;
    color: white;
    font-family: var(--arial-font);
    margin: 10px 20px 6px;
}


.messages-wrapper {
    width: 100%;
    padding: 10px;
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
    border-top: var(--border);
    border-bottom: var(--border);
    margin-bottom: 10px;
}

.messages-container,
.message-day-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.messages-container .day-label {
    color: white;
    align-self: center;
}

.message {
    align-self: flex-start;
    max-width: 60%;
    padding: 5px 10px;
    background-color: var(--block-background);
    border-radius: 12px;
    border-bottom-left-radius: 0;
}

.message .sender {
    color: white;
    margin: 0;
    margin-bottom: 6px;
    font-size: medium;
}

.message.own-message {
    display: flex;
    align-items: end;
    align-self: flex-end;
    flex-direction: column;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 0;
}

.message .message-content {
    font-size: 14px;
    font-family: var(--arial-font);
    color: white;
}

.message .time-ago {
    margin-top: 10px;
    font-size: 12px;
    color: rgb(190, 190, 190);
}






.chat-window .editing-message-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 10px;
    width: 100%;
}

.chat-window .editing-message-icon {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.chat-window .edit-message-data {
    display: flex;
    flex-direction: column;
}

.chat-window .editing-message-block .edit-message-title {
    color: var(--accent);
    font-size: 14px;
    font-family: var(--arial-font);
}

.chat-window .editing-message-block .edit-message-text {
    color: lightgray;
}

.chat-window .is-checked-to-delete {
    color: red;
}

.chat-window .cancel-editing-message {
    width: 20px;
    height: 20px;
    margin: auto 0 auto auto;
}


.message-textarea-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.chat-window .message-textarea-wrapper .scroll-block {
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 300px;
}

.message-textarea {
    flex: 1;
    box-sizing: border-box;
    background-color: unset;
    border: none;
    color: white;
    padding: 6px 10px;
    font-size: 16px;
    width: 100%;
}

.message-textarea-wrapper .attach-file-btn,
.message-textarea-wrapper .change-file-btn,
.message-textarea-wrapper .send-messages-btn {
    margin: 6px;
    width: 24px;
    height: 24px;
}

.message-textarea-wrapper .attach-file-btn:hover path,
.message-textarea-wrapper .change-file-btn:hover path,
.message-textarea-wrapper .send-messages-btn:hover path {
    fill: var(--accent);
}



.chat-window .media-container {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
    margin-top: 20px;
}

.chat-window .other-files-container {
    margin-top: 20px;
	display: flex;
    flex-direction: column;
    gap: 6px;
}



.select-chat-title {
    margin: auto;
    color: white;
    font-size: large;
}