
.chat-window {
    width: 100%;
	max-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


.chat-window .chat-title {
    align-self: flex-start;
    color: white;
    font-family: var(--arial-font);
    margin: 10px 20px 6px;
}


.messages-wrapper {
    width: 100%;
    padding: 10px;
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
    border-top: var(--border);
    border-bottom: var(--border);
    margin-bottom: 10px;
}

.messages-container,
.message-day-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.messages-container .day-label {
    color: white;
    align-self: center;
}

.message {
    align-self: flex-start;
    max-width: 60%;
    padding: 5px 10px;
    background-color: var(--block-background);
    border-radius: 12px;
    border-bottom-left-radius: 0;
}

.message .sender {
    color: white;
    margin: 0;
    margin-bottom: 6px;
    font-size: medium;
}

.message.own-message {
    display: flex;
    align-items: end;
    align-self: flex-end;
    flex-direction: column;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 0;
}

.message .message-content {
    font-size: 14px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.message .time-ago {
    font-size: 12px;
    color: rgb(190, 190, 190);
}



.message-textarea-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.chat-window .message-textarea-wrapper .scroll-block {
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 300px;
}

.message-textarea {
    flex: 1;
    box-sizing: border-box;
    background-color: unset;
    border: none;
    color: white;
    padding: 6px 10px;
    font-size: 16px;
    width: 100%;
}

.message-textarea-wrapper .attach-file-btn,
.message-textarea-wrapper .send-messages-btn {
    margin: 6px;
    width: 24px;
    height: 24px;
}

.message-textarea-wrapper .attach-file-btn:hover path,
.message-textarea-wrapper .send-messages-btn:hover path {
    fill: var(--accent);
}



.select-chat-title {
    margin: auto;
    color: white;
    font-size: large;
}