body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	background-color: var(--background);
}

#root {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info {
	display: flex;
	height: 100%;
	box-sizing: border-box;
}


main {
	width: var(--main-width);
	display: flex;
	margin-left: var(--left-nav-bar-width);
	margin-right: var(--right-sidebar-width);
	box-sizing: border-box;
	border-left: var(--border);
	border-right: var(--border);
}

:root {
	--main-width: 700px;
	--left-nav-bar-width: 220px;
	--right-sidebar-width: 300px;
	--footer-height: 50px;
	--shadow: 0 0 40px rgba(255, 255, 255, 0.2);
	--light-gray-transparent: rgba(255, 255, 255, 0.311);
	--border: 1px solid var(--light-gray-transparent);
	--arial-font: Arial, Helvetica Neue, Helvetica, sans-serif;
	--text: #E0E0E0;
	--secondary-text: #A0A0A0;
	--background: #121212;
	--block-background: #1E1E1E;
	--accent: #00c3ffb9;
	--dropdown-speed: .1s;
	--write-comment-form-height: 60px;
}

.loading-page {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-page span {
	color: white;
	font-size: 30px;
	margin-top: 30px;
}

.loading {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loading span {
	color: white;
	font-size: 20px;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.loader {
	width: 15px;
	margin: 40px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: white;
	color: white;
	box-shadow: -20px 0px, 20px 0px;
	animation: l18 1s infinite;
}

@keyframes l18 {
	25% {
		box-shadow: -20px -20px, 20px 20px
	}

	50% {
		box-shadow: 0px -20px, 0px 20px
	}

	75% {
		box-shadow: 20px -20px, -20px 20px
	}

	100% {
		box-shadow: 20px 0px, -20px 0px
	}
}




[hidden]:where(:not([hidden='until-found'])) {
	display: none !important;
}

svg {
	width: 100%;
	height: 100%;
}


.textarea-scroll-block {
	width: 100%;
	overflow-y: auto;
	box-sizing: border-box;
	max-height: 300px;
}

.textarea-autosize {
	display: block;
	overflow: hidden;
	resize: none;
	outline: none;
	text-align: justify;
	white-space: pre-wrap;
	box-sizing: border-box;

	flex: 1;
	box-sizing: border-box;
	background-color: unset;
	border: none;
	color: white;
	padding: 6px 10px;
	font-size: 16px;
	width: 100%;
}


.dropdown-menu {
	position: absolute;
	background-color: var(--background);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.223);
	padding: 10px 16px;
	display: flex;
	flex-direction: column;
	align-items: start;
	box-shadow: var(--shadow);
	z-index: 9999;
}

.dropdown-item {
	margin: 6px 0;
}

.dropdown-item span {
	color: white;
	white-space: nowrap;
}



.context-menu {
	background-color: var(--background);
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	border-radius: 12px;
	padding: 6px 0;
}

.context-menu a,
.context-menu button {
	color: white;
	padding: 6px 12px;
	font-size: 12px;
	display: flex;
	align-items: start;
}

.context-menu a:not(:first-child),
.context-menu button:not(:first-child) {
	border-top: var(--border);
}