
.attached-files-container {
    margin-top: 20px;
}

.attached-files-container.preview {
    margin: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.attached-files-container .media-container {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	display: flex;
    justify-content: center;
    margin-top: 20px;
}

.attached-files-container .other-files-container {
    margin-top: 20px;
	display: flex;
    flex-direction: column;
    gap: 6px;
}

.attached-files-container .other-files-container .file-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    padding: 2px;
}

.attached-files-container .other-files-container .file-preview .file-icon {
    width: 20px;
    height: 20px;
}

.attached-files-container .file-preview .file-size {
    font-size: 12px;
    color: #b6b6b6;
}

.attached-files-container .remove-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 30px;
    height: 30px;
    padding: 6px;
	background-color: rgba(211, 211, 211, 0.523);
    border-radius: 50px;
}

.attached-files-container .remove-btn path {
    fill: black;
}

.attached-files-container .file-preview .remove-btn {
    position: static;
    margin: auto;
    margin-right: 10px;
    background-color: unset;
}

.attached-files-container .file-preview .remove-btn path {
    fill: white;
}


.attached-files-container .file-preview:has(.download-file-btn:hover),
.attached-files-container .file-preview:has(.remove-btn:hover) {
	background-color: var(--light-gray-transparent);
}


.attached-files-container .file-preview .download-file-btn {
    width: 26px;
    height: 26px;
    padding: 2px;
    background-color: var(--accent);
    border-radius: 50%;
    margin: auto;
    margin-right: 0;
}


.attached-files-container .preview-img,
.attached-files-container .preview-video {
    width: 100%;
    position: relative;
    max-width: 300px;
	height: auto;
	object-fit: contain;
	background: #000;
}

.attached-files-container img,
.attached-files-container video {
    width: 100%;
	border-radius: 10px;
}