.post {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.223);
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    cursor: pointer;
}

.post .avatar-side {
    margin-top: 10px;
    margin-right: 10px;
}

.post .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post .content {
    width: 100%;
}

.post .content .post-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post .post-meta .login {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-right: 10px;
}

.post .post-meta .timestamp {
    color: lightgray;
    font-size: 14px;
}

.post .options-btn {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    padding: 4px;
}

.post .options-btn:hover {
    background-color: rgba(211, 211, 211, 0.112);;
}

.post .options-btn path {
    fill: white;
}

.post-text {
    color: white;
    word-wrap: break-word;
    font-size: 16px;
    margin-top: 10px;
}



.tags-list {
    margin-top: 20px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tag-link {
    font-size: 14px;
    color: rgb(131, 131, 255);
}