.post-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.09);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9000;
}

.post-modal .panel {
    background-color: black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 700px;
    max-height: 600px;
}

.post-modal .close-modal-btn {
    width: 30px;
    height: 30px;
}

.post-modal svg path {
    fill: white;
}

.post-modal .scroll-area {
    overflow-y: auto;
    box-sizing: border-box;
    padding-right: 10px;
}

.post-modal .post-textarea {
    background-color: unset;
    color: white;
    border: none;
    font-size: 18px;
    width: 100%;
}

.post-modal .media-container {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
    margin-top: 20px;
}

.post-modal .other-files-container {
    margin-top: 20px;
	display: flex;
    flex-direction: column;
    gap: 6px;
}

.post-modal .other-files-container .file-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    color: white;
    font-size: 18px;
}

.post-modal .other-files-container .file-preview .file-icon {
    width: 30px;
    height: 30px;
}

.post-modal .remove-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 30px;
    height: 30px;
    padding: 6px;
	background-color: rgba(211, 211, 211, 0.523);
    border-radius: 50px;
}

.post-modal .remove-btn path {
    fill: black;
}

.post-modal .file-preview .remove-btn {
    position: static;
    margin: auto;
    margin-right: 10px;
    background-color: unset;
}

.post-modal .file-preview .remove-btn path {
    fill: white;
}

.post-modal .file-preview:has(.remove-btn:hover) {
	background-color: var(--light-gray-transparent);
}


.post-modal .preview-img,
.post-modal .preview-video {
    width: 100%;
    position: relative;
    max-width: 300px;
	height: auto;
	object-fit: contain;
	background: #000;
}

.post-modal img,
.post-modal video {
    width: 100%;
	border-radius: 10px;
}

.post-modal .panel-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-modal .panel-bottom span {
    font-size: 18px;
    color: white;
}

.post-modal .panel-top,
.post-modal .scroll-area,
.post-modal .panel-bottom {
    margin: 14px;
}

.post-modal .h-line {
    width: 100%;
    height: 1px;
    background-color: darkgray;
}

.post-modal .file-input-btn {
    width: 30px;
    height: 30px;
}

.post-modal .file-input-btn:hover path {
    fill: blue;
}

.post-modal .modal-publish-post-btn {
    height: 100%;
    padding: 0 10px;
}