.right-sidebar {
	width: var(--right-sidebar-width);
	height: calc(100% - var(--footer-height));
    margin-left: calc(var(--left-nav-bar-width) + var(--main-width));
    position: fixed;
    display: flex;
    flex-direction: column;
    border-right: var(--border);
}



.no-chats-title {
    color: white;
    margin: auto;
}

.right-sidebar .search-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    box-sizing: border-box;
    border-bottom: var(--border);
}

.right-sidebar .search-input {
    background-color: unset;
    border: none;
    outline: none;
    flex: 1;
    color: white;
    font-size: 16px;
}

.right-sidebar .search-btn {
    width: 20px;
    height: 20px;
    margin: 4px;
}



.right-sidebar .search-scroll-area {
    overflow-y: auto;
    padding: 10px 0;
    flex: 1;
}

.search-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}

.search-list .search-item {
    color: #fff;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-item .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}